<table id="toilets-table">
    <thead>
        <tr>
            <th>City</th>
            <th>Location</th>
            <th>Address</th>
            <th>Mirror</th>
            <th>Papertowels</th>
            <th>Perfume</th>
            <th>Accessibility</th>
            <th>Soap</th>
            <th>Stalls</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="city"></td>
            <td class="location"></td>
            <td class="address"></td>
            <td class="feat-mirror"></td>
            <td class="feat-papertowels"></td>
            <td class="feat-perfume"></td>
            <td class="feat-access"></td>
            <td class="feat-soap"></td>
            <td class="stalls"></td>
            <td class="rating"></td>
        </tr>
    </tbody>
    
</table>

<script src="/javascripts/pure.min.js"></script>
<script src="/javascripts/render.js"></script>