<table id="toilets-table">
    <thead>
        <tr>
            <th>City</th>
            <th>Location</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="city"></td>
            <td class="location"></td>
            <td class="address"></td>
        </tr>
    </tbody>
    
</table>

<script src="https://kloapp.herokuapp.com/javascripts/pure.min.js"></script>
<script src="https://kloapp.herokuapp.com/javascripts/render.js"></script>