<table>

</table>

<script src="/javascripts/pure.min.js"></script>
<script>
    getToilets()
    async function getToilets() {
        let response = await fetch("https://kloapp.herokuapp.com/all")

        if (response.ok) {
            let json = await response.json()
            console.log(json)
        } else {
            alert("HTTP-Error: " + response.status)
        }
    }
</script>